@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo a,
.menu {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 0, 98, 0.804);
  padding: 20px 50px;
}

nav a {
  color: yellow;
  text-decoration: none;
}
